#set($partitionKey = $ctx.args.input.partitionKey)
#set($sortKey = "USER")
{
    "version": "2017-02-28",
    "operation": "DeleteItem",
    "key": {
        "pk": $util.dynamodb.toDynamoDBJson($partitionKey),
        "sk": $util.dynamodb.toDynamoDBJson($sortKey),
    },
}
