{
    "operation": "GetItem",
    "key": {
        "pk": {
            "S": "QuoteSubscriptionRule"
        },
        "sk": {
            "S": "$ctx.args.id"
        }
    },
    "version": "2018-05-29"
}
