{
    "operation": "GetItem",
    "key": {
        "pk": $util.dynamodb.toDynamoDBJson("Quote"),
        "sk": $util.dynamodb.toDynamoDBJson("Metadata#$ctx.args.id")
    },
    "version": "2018-05-29"
}
